// *************************************
//
//   Header
//   -> Short description
//
// *************************************

.blob {
  height: 750px;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  z-index: 0;
}

// -------------------------------------
//   Large Comment
// -------------------------------------

// ----- Standard Comment ----- //

// Small Comment
