// *************************************
//
//   Button
//   -> Larger links
//
// *************************************

.button {
  -webkit-appearance: none;
  background: $c-orange;
  background-image: linear-gradient(to right, $c-orange, $c-red);
  border: none;
  border-radius: 100px;
  color: $c-text;
  cursor: pointer;
  display: inline-block;
  margin-top: 16px;
  outline: none;
  padding: 16px 40px;
  z-index: 2;
  &:hover {
    background: $c-orange;
    background-image: linear-gradient(to right, $c-orange 100%, $c-red 200%);
    color: $c-text;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .button--fixed {
//   font-size: 0.75rem;
//   margin-top: 0;
//   padding: 12px 24px;
//   position: fixed;
//   right: 20px;
//   top: 18px;
//   z-index: $z-book;
//   @include respond-to($g-l) {
//     font-size: 0.875rem;
//     padding: 16px 32px;
//     right: 40px;
//     top: 40px;
//   }
// }

.button--form {
  background: $c-black;
  background-image: none;
  display: block;
  margin-top: 24px;
  width: 100%;
  @include respond-to($g-l) {
    font-size: 1.25rem;
    margin-top: 40px;
    padding: 20px 40px;
  }
  &:hover {
    background: lighten($c-black, 10%)
  }
}

.button--inverted {
  background: $c-white;
  background-image: linear-gradient(to right, $c-white, $c-gray);
  color: $c-black;
  &:hover {
    background: $c-white;
    background-image: none;
    color: $c-black;
    opacity: 0.8;
  }
}

// ----- Standard Comment ----- //

// Small Comment
