// *************************************
//
//   Button
//   -> Larger links
//
// *************************************

.button {
  background: $c-orange;
  background-image: linear-gradient(to right, $c-orange, $c-red);
  border: none;
  border-radius: 100px;
  color: $c-text;
  font-size: 0.875rem;
  padding: 12px 32px;
  position: fixed;
  top: 40px;
  transition: all 300ms ease-out;
  right: 40px;
  z-index: 2;
  &:hover, &:focus {
    background: $c-orange;
    background-image: linear-gradient(to right, $c-orange 100%, $c-red 200%);
    color: $c-text;
  }
}

// -------------------------------------
//   Large Comment
// -------------------------------------

// ----- Standard Comment ----- //

// Small Comment
