// *************************************
//
//   Grid
//   -> Various layout utilities
//
// *************************************

.grid {
  display: grid;
  grid-gap: $b-space;
  @include respond-to($g-m) {
    grid-template-columns: repeat(2, 1fr);
  }
  img {
    display: block;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.grid--shots {
  margin: ($b-space * 2) 0;
}

// ----- Standard Comment ----- //

// Small Comment
