// *************************************
//
//   Logo
//   -> Short description
//
// *************************************

.logo {
  color: $c-text;
  display: flex;
  flex-flow: row nowrap;
  font-size: 10px;
  line-height: 1.2;
  left: 24px;
  position: fixed;
  top: 24px;
  width: 150px;
  z-index: $z-logo;
  @include respond-to($g-l) {
    font-size: 14px;
    left: 40px;
    top: 40px;
  }
  img {
    height: 26px;
    margin-right: 12px;
    width: 38px;
    @include respond-to($g-l) {
      height: 35px;
      margin-right: 16px;
      width: 50px;
    }
  }
}

// -------------------------------------
//   Large Comment
// -------------------------------------

// ----- Standard Comment ----- //

// Small Comment
