// *************************************
//
//   Logo
//   -> Short description
//
// *************************************

.logo {
  color: $c-text;
  font-size: 14px;
  line-height: 1.2;
  left: 40px;
  position: fixed;
  top: 40px;
  width: 150px;
  z-index: 1;
}

// -------------------------------------
//   Large Comment
// -------------------------------------

// ----- Standard Comment ----- //

// Small Comment
