// *************************************
//
//   Slide
//   -> Full width height content
//
// *************************************

.slide {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: ($b-space * 3) 0;
  padding: 0 24px;
  position: relative;
  width: 100vw;
  z-index: 1;
  @include respond-to($g-l) {
    margin: ($b-space * 10) 0;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.slide--footer {
  margin: 0 0 40px;
  a {
    border-bottom: none;
  }
  ul {
    list-style: none;
    padding: 0;
  }
}

.slide--hero {
  height: 100vh;
  margin: 0;
  .slide-content {
    margin-left: 0;
    max-width: 220px;
    text-align: center;
    @include respond-to($g-l) {
      max-width: $b-maxWidth;
    }
  }
}

.slide--center {
  .slide-content {
    @include respond-to($g-l) {
      text-align: center;
    }
  }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.slide-content {
  max-width: $b-maxWidth;
  width: 100%;
  @include respond-to($g-l) {
    margin-left: 35vw;
  }
}

// ----- Standard Comment ----- //

// Small Comment
