// *************************************
//
//   Slide
//   -> Full width height content
//
// *************************************

.slide {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: 100vw;
  z-index: 1;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

.slide--hero {
  .slide-content {
    margin-left: 0;
    text-align: center;
  }
}

// -------------------------------------
//   Scaffolding
// -------------------------------------

.slide-content {
  margin-left: 35vw;
  max-width: $b-maxWidth;
}

// ----- Standard Comment ----- //

// Small Comment
